body {
  margin: 0;
  padding: 0;
  background-image: url('https://images.pexels.com/photos/289738/pexels-photo-289738.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* Replace with your image path */  
    background-size: cover; /* Ensures the image covers the entire container */  
    background-position: center; /* Centers the image */  
    background-repeat: no-repeat; /* Prevents the image from repeating */  
    padding: 0
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}